@font-face {
    font-family: 'Manifold Demibold';
    src: url('fonts/manifoldCF/Fontspring-DEMO-manifoldextendedcf-bold.otf');
}
@font-face {
    font-family: 'Forma Bold';
    src: url('fonts/formadjr/FormaDJRBanner-Bold-Testing.ttf');
}
@font-face {
    font-family: 'Optima';
    src: url('fonts/optima/OPTIMA_B.TTF');
}
@font-face {
    font-family: 'Scriptorama';
    src: url('fonts/scriptorama/design.jasonwalcott.Scriptorama\ Tradeshow\ JF.ttf');
}
@keyframes movimientoFlecha {
    0%{
        bottom: 2%;
    }
    50%{
        bottom: 5%;
    }
    100%{
        bottom: 2%;
    }
}
@keyframes avanceLinea {
    0%{
        width: 5vw;
    }25%{
        width: 20vw;
    }50%{
        width: 45vw;
    }75%{
        width: 65vw;
    }100%{
        width: 80vw;
    }
}
html{
    scroll-behavior: smooth;
}
body{  
    margin: 0;
    background-color: black;
    font-family: 'Manifold Demibold';
    color: white;
    letter-spacing: 0.2em;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 0.15fr;
    grid-template-rows: 1fr;
}
main{
    grid-row: 1;
    grid-column: 1;
}
header{
    grid-row: 1;
    grid-column: 2;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    border-left: 2px double white;
}
header a{
    margin-bottom: 4rem;
}
nav ul li{
    margin-bottom: 8rem;
}
nav ul li a::before{
    content: '';
    display: inline-block;
    height: 0;
    width: 4px;
    margin-right: 5px;
}
nav ul li a::after{
    content: '';
    display: inline-block;
    height: 0;
    width: 4px;
    margin-right: 5px;
}
nav ul li a:hover::before{
    content: '';
    display: inline-block;
    height: 15px;
    width: 4px;
    background-color: white;
    transition: .9s;
    transform: rotate(-180deg);
}
nav ul li a:hover::after{
    content: '';
    display: inline-block;
    height: 15px;
    width: 4px;
    background-color: white;
    transition: .9s;
    transform: rotate(180deg);
}
nav ul li a{
    text-decoration: none;
    color: white;   
    font-size: large;}
header nav ul{
    padding: 0;
    text-align: center;
    list-style: none;
}
h1{
    font-size: 4rem;
    margin-left: 2rem;
    letter-spacing: 0.15em;
    line-height: 2em;
}
.resaltar{
    text-decoration: underline;
}
.cabecera{
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.cabecera i{
    color: white;
    font-size: 1.5em;
    position: absolute;
    bottom: 2%;
    left: 50%;
    animation-name: movimientoFlecha;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
}
.cabecera i:hover{
    animation-name: none;
}
#introduccion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-size: 2em;
    text-align: center;
    height: 100vh;
}
#introduccion h2{
    margin-left: 0.2rem;
}
blockquote:before { 
    content: open-quote; 
}
blockquote:after  { 
    content: close-quote; 
}
#introduccion div:first-of-type{
    width: 50%;
}
#introduccion div:nth-of-type(2){
    width: 50%;
    align-self: flex-end;
}
#introduccion div:nth-of-type(1)::after{
    content: '';
    display: inline-block;
    width: 30vw;
    height: 1vh;
    margin: 2rem auto auto auto;
    background-color: rgb(136, 23, 23);
}
#introduccion div:nth-of-type(2)::before{
    content: '';
    display: inline-block;
    width: 30vw;
    height: 1vh;
    margin: auto;
    background-color: white;
}
.explicacion{
    margin-top: 30vh;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}
.explicacion p{
    line-height: 5rem;
    max-width: 75ch;
}
.explicacion a{
    color: white;
}
.explicacion img{
    width: 90%;
    border-radius: 20px;
    border: 2px double white;
}
.refinamiento-gif{
    background-image: url('media/gif/refinado.gif');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}
.difuminado{
    backdrop-filter: blur(3px);
    padding: 2rem;
    border-radius: 20px;
}
.trabajos h2{
    font-size: 3em;
    color: white;
}
.trabajos{
    width: 100%;
    text-align: center;
}
#refiner{
    width: 90%;
    margin: auto;
    border-radius: 10px;
}
.caracteristicas-refinadores{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 2rem;
}
#work1{
    width: 50%;
    border-radius: 10px;
}
.caracteristicas-refinadores ul{
    width: 50%;
    margin-top: 4rem;
}
.caracteristicas-refinadores li{
    margin-bottom: 4rem;
    font-size: larger;
    list-style: upper-roman;
}

.optica-trabajo{
    display: flex;
    gap: 20px;
    margin-top: 8rem;
    padding: 2rem;
}
#work2{
    width: 50%;
    border-radius: 10px;
    object-fit: cover;
}
.optica-trabajo p{
    max-width: 75ch;
    font-size: 1.5rem;
    line-height: 2.5rem;
}
#separacion h2{
    font-size: 3em;
    text-align: center;
}

.explicacion-separacion{
    display: flex;
    align-items: center;
    margin-bottom: 10rem;
}
.explicacion-separacion p{
    max-width: 75ch;
    font-size: 2rem;
    line-height: 2.5rem;
}
.explicacion-separacion img{
    width: 40%;
}
.ejemplo{
    width: 100%;
    height: 10vh;
    margin-bottom: 10rem;
}
.container-animacion{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 50px;
}
.container-animacion p{
    text-align: center;
    font-size: 1.5rem;
}
#linea1::after{
    content: '';
    height: 5px;
    width: 5vw;
    background-color: white;
    display: block;
    animation-name: avanceLinea;
    animation-duration: 7s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
#linea2::after{
    content: '';
    height: 5px;
    width: 5vw;
    background-color: white;
    display: block;
    animation-name: avanceLinea;
    animation-duration: 7s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
.funcionamiento-separacion p{
    max-width: 75ch;
    font-size: 2rem;
    line-height: 2.5rem;
}
.funcionamiento-separacion{
    display: flex;
    align-items: center;
    padding: 2rem;
}
.funcionamiento-separacion img{
    width: 40%;
    border-radius: 15px;
}
.impacto-separacion{
    width: 80%;
    margin: auto;
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Optima';
}
.impacto-separacion td,th{
    padding: 1rem;
}
.impacto-separacion td{
    border-right: 2px solid white;
}
.impacto-separacion td{
    border-bottom: 2px solid white;
}
.impacto-separacion tr:last-of-type td{
    border-bottom: none;
}
.impacto-separacion td:last-of-type{
    border-right: none;
}
.impacto-separacion th{
    border-bottom: 2px solid white;
}
p,li{
    font-family: 'Optima';
}
li:has(a){
    font-family: 'Manifold Demibold';
}

